{% extends 'shop/layout/main.html'%}
{%block title%}
Shopkart | onlineshoping
{%endblock title%}

{%block content%}
<div class="container" style="margin-top: 70px;">
    <div class="row">
        <div class="col-12">
            <h4 class="mb-3">About</h4>
            <hr style="border-color: #b8bfc2;">
            <p>Some text about Who we are and what we do.</p>
            <p>Resize the browser window to see that this page is responsive by the way</p>
        </div>
        <h2 style="text-align: center;">Our Team</h2>
        <div class="container">
            <div class="row">
                <div class="column">
                    <div class="card">
                        <img src="static\folder\1.jpg" alt="jane" style="width:50%">
                        <h2>Jane Doe</h2>
                        <p class="title">CEO & FOUNDER</p>
                        <p>Some text describes me lorem ipsum ipsum lorem</p>
                        <p>jane@example.com</p>
                        <p><button class="button">Contact</button></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{%endblock content%}